body {
    background-color: #9b0fab;
    font-family: arial, serif;
    color: #FFFFFF
}

#searchbar {
    padding: 15px;
    width: 100px;
    border-radius: 25px;
    border-color:black;
    background-color: #FFFFFF;
}
.box {
  border: 10px solid black;
  padding: 20px;
  width: 200px;
  margin: 20px auto;
  border-radius: 10px;
}
 button {
    margin: 5px;
    padding: 10px 20 px;
 }