body {
    color: #FFFFFF
}

#searchbar {
    padding: 15px;
    width: 400px;
    border-radius: 25px;
    border-color:black;
    transition: background 0.2s;
    background-color: #FFFFFF;
}

#searchbar:hover {
    background-color: #dedede;
}

.box {
  border: 10px solid black;
  padding: 20px;
  width: 200px;
  margin: 20px auto;
  border-radius: 10px;
}
 button {
    margin: 5px;
    padding: 10px 20 px;
 }