body {
    color: #FFFFFF
}

#searchbar {
    padding: 15px;
    width: 400px;
    border-radius: 25px;
    border-color:black;
    transition: background 0.2s;
    background-color: #FFFFFF;
}

#searchbar:hover {
    background-color: #dedede;
}

.box {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(90deg, #7e3a3a, #e3873c); /* gradient baggrund */
    border: 2px solid #333;
    padding: 15px 40px;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: background 0.3s; /* gør gradient-ændring glat */
}

.box.highlight {
  background: linear-gradient(90deg, #edfa05, #f4e808);/* Når vi vil “lyse op” */
}

button {
    margin: 5px;
    padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #444;
  cursor: pointer;
  background-color: #eee;
}

button:hover {
  background-color: #ddd;
}
/*Besked kommer liger over "box"*/
#message {
  position: absolute;
  bottom: 90px; /* lidt over boksen */
  left: 50%;
  transform: translateX(-50%);
  color: rgb(5, 1, 1);
  font-weight: bold;
  opacity: 0; /* start skjult */
  transition: opacity 1.5s; /* fade ud over 1,5 sek */
}

.top-box {
  display: flex; /* Gør boksen til en flex-container, så indholdet kan ligge på linje (vandret) */
  justify-content: space-between; /* Fordeler elementerne: venstre helt til venstre, højre helt til højre, midten i midten */
  align-items: center; /* Centrerer elementerne lodret i boksen */ 
  background-color: #ce0707; /* Sætter baggrundsfarven */
  color: rgb(255, 255, 255); /*Gør al tekst hvid */
  padding: 10px 20px; /*Laver luft inde i boksen (10px top/bund, 20px venstre/højre) */
  box-shadow: 0 2px 8px rgba(0,0,0,0.2); /* Tilføjer en let skygge under boksen */
  position: sticky; /*Gør boksen “klæbrig”, så den bliver øverst på siden ved scroll */
  top: 0; /*Fastgør boksen til toppen af vinduet */ 
}

.left, .center, .right { 
  flex: 1; /* Giv alle tre elementer lige meget plads, og lad dem vokse eller skrumpe efter behov */
}

.center {
  text-align: center; /*Centrerer teksten horisontalt inde i elementet */
  font-size: 1.3rem; /* Gør teksten større, relativt til root-font-size */
  font-weight: bold; /* Gør teksten fed (tykkere) */
}

#home-button {
  background: none;     /* Ingen baggrund */
  border: none;         /* Ingen kant */
  color: white;         /* Tekstfarve */
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;      /* Markør bliver hånd */
}

#home-button:hover {
  color: rgb(16, 16, 0);        /* Lidt effekt ved hover */
}

.right {
  text-align: right; /* Flytter teksten i elementet helt til højre */
}

