body {
    color: #000000
}

#searchbar {
    padding: 15px;
    width: 100px;
    border-radius: 25px;
    border-color:black;
    background-color: #FFFFFF;
}
.box {
  border: 10px solid black;
  padding: 20px;
  width: 200px;
  margin: 20px auto;
  border-radius: 10px;
}
 button {
    margin: 5px;
    padding: 10px 20 px;
 }


.table {
  border-collapse: separate;  /* Giver der lov til at være plads i mellem rækkerne */
  border-spacing: 0 12px;    
  width: 35%;
  border: 1px solid black;              
}

/* Gør hver række sin egen boks */
.table tr {
  background-color: #fff;
  border: 2px solid #444;   
  border-radius: 10px;          /* runder hjøner */
  box-shadow: 0 2px 6px rgba(0,0,0,0.1); /* Giver lidt skygge til boksene */
}

.table th, 
.table td {
  padding: 12px;
  text-align: center;
  border: none;
}

/* Header */
.table th {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  text-transform: uppercase;
}

/* Giver den flyvende effekt */
.table tr:hover {
  background-color: #f5f5f5;
  transform: scale(1.01);
  transition: 0.2s ease;
}